---
layout: base.njk
---

<div class="info">

<h2>{{ title }}</h2>
<p class="caption">{{ year }}</p>
<p>{{ description }}</p>
      
</div>
<div class="image">

<img src="{{ thumbnail }}" />
<p class="caption">{{ caption }}</p>

{{ content | safe }}

</div>
